@using Contrib.Podcasts.Extensions;
@using Contrib.Podcasts.Models;

<div class="item-properties actions">
    <p><a href="@Url.PodcastEdit((PodcastPart)Model.ContentPart)" class="edit">@T("Podcast Properties")</a></p>
</div>
